._.DS_Store
./.DS_Store
output*
**/__pycache__/*
audit
data
data0
data1
envs
env/
software/bgenix
log
**/bgenix/*
**/plink/*

.vscode

src/__pycache__/
src/tasks/prep/__pycache__/
src/tasks/grex/__pycache__/
src/config/__pycache__/
